@import "../../index.css";

.register-wrapper {
  color: #fff;
  width: 40%;
  margin: 100px auto 50px;
  height: 500px;
  background-color: var(--black);
  border-radius: 10px;
  position: relative;
}

.register-wrapper h2 {
  margin-bottom: 70px;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form h2 {
  font-size: 30px;
}

.register-input {
  width: 60%;
  height: 35px;
  margin-bottom: 30px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 15px;
  color: white;
}

#register-button {
  width: 60%;
  height: 30px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  margin-top: 20px;
}

#have-account-text {
  margin-top: 50px;
}

#login-link {
  font-weight: 600;
}

#login-link:hover {
  border-bottom: 1px solid white;
}

#register-button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.radio {
  display: flex;
}

.radio input {
  width: 10px;
}

.radio label {
  font-size: 15px;
}

label[for="pembaca"] {
  margin-right: 60px;
}

@media (max-width: 768px) {
  .register-wrapper {
    width: 70%;
  }

  .register-form h2 {
    font-size: 20px;
  }

  #have-account-text,
  #login-link {
    font-size: 10px;
  }
}

@media(max-width: 425px) {
  .radio {
    flex-direction: column;
    margin-left: 10%;
  }
}