:root {
  --gray: #1d1a1a;
  --black: #191818;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--gray);
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  max-width: 1444px;
  margin: 0 auto;
}

main {
  margin-top: 50px;
}

a,
Link {
  text-decoration: none;
  color: white;
}