@import "../../index.css";

.home-wrapper {
  padding: 30px 20px;
}

.plus-icon {
  width: 30px;
  position: fixed;
  z-index: 999;
  right: 0;
  margin-right: 17px;
  top: 90px;
}

@media(min-width: 768px) {
  .home-wrapper {
    padding: 30px 60px;
  }

  .plus-icon {
    margin-right: 60px;
  }
}