@import "../../index.css";

.journal-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  position: relative;
}

.journal-details {
  display: flex;
  flex-direction: column;
  color: white;
}

.journal-details h1 {
  margin-bottom: -10px;
  font-size: 20px;
}

.journal-details p {
  margin-bottom: 0;
  font-size: 10px;
}

@media (max-width: 768px) {
  .journal-details h1 {
    font-size: 15px;
  }
}