@import "../../index.css";

.navbar-wrapper {
  min-height: 5vh;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.search-bar {
  width: 50%;
  height: 25px;
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar img {
  right: 0;
  top: 4px;
  position: absolute;
  width: 18px;
  margin-right: 7px;
}

.search-input {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.home-logo h1 {
  font-size: 15px;
  text-decoration: none;
  color: white;
  margin: 0 auto 0;
}

.profile-logo img {
  width: 37px;
  color: white;
}

@media (max-width: 520px) {
  .search-bar {
    margin-left: -20px;
  }
}

@media (max-width: 250px) {
  .search-bar {
    margin-left: -20px;
    margin: 10px;
  }
}

@media(min-width: 768px) {
  .navbar-wrapper {
    padding: 10px 60px;
  }
}